.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-list-1 {
  min-height: 352px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 81px;
  width: 81px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 13px 65px 0 73px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 81px;
  width: 81px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 13px 65px 0 73px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 81px;
  width: 81px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 13px 65px 0 73px;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-list-1 {
    min-height: 290px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    height: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    height: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-list-1 {
    min-height: 666px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 161px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 160px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 9px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 30px 103px 0 auto;
  padding: 8px 33px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 160px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 0 auto 0 134px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 132px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 233px;
}

.u-section-3 .u-group-1 {
  width: 1032px;
  min-height: 133px;
  height: auto;
  margin: 50px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 5px auto 0 36px;
}

.u-section-3 .u-text-1 {
  margin: -59px 379px 0 428px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 333px;
    margin-left: 193px;
    width: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 223px;
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 153px;
    margin-left: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 53px;
    margin-left: 36px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 561px;
}

.u-section-4 .u-list-1 {
  width: 1005px;
  min-height: 516px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 29px auto 16px 32px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-text-1 {
  margin: -22px 859px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-style: normal;
  margin: -44px 0 0 124px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-text-3 {
  margin: -22px 859px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-style: normal;
  margin: -44px 0 0 124px;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-text-5 {
  margin: -22px 859px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-style: normal;
  margin: -44px 0 0 124px;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-text-7 {
  margin: -22px 859px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-style: normal;
  margin: -44px 0 0 124px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    height: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 59px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 70px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -92px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 59px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 95px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -117px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 120px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -142px;
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 115px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 115px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 220px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -242px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 233px;
}

.u-section-5 .u-group-1 {
  width: 1032px;
  min-height: 133px;
  margin: 50px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 5px auto 0 36px;
}

.u-section-5 .u-text-1 {
  margin: -58px 212px 0 380px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 166px;
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 56px;
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 36px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 512px;
}

.u-section-6 .u-list-1 {
  width: 1005px;
  min-height: 451px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 31px auto 31px 30px;
}

.u-section-6 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 0 124px;
}

.u-section-6 .u-text-2 {
  margin: -72px 865px 0 0;
}

.u-section-6 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 0 0 0 124px;
}

.u-section-6 .u-text-4 {
  margin: -72px 865px 0 0;
}

.u-section-6 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0 0 0 124px;
}

.u-section-6 .u-text-6 {
  margin: -72px 865px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
    height: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 59px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 59px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 59px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -72px;
    margin-right: 440px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 115px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -72px;
    margin-right: 440px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 115px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -72px;
    margin-right: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 240px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 240px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 240px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 233px;
}

.u-section-7 .u-group-1 {
  width: 1032px;
  min-height: 133px;
  margin: 50px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 5px auto 0 36px;
}

.u-section-7 .u-text-1 {
  width: 222px;
  margin: -59px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-left: 36px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 466px;
}

.u-section-8 .u-list-1 {
  width: 1005px;
  min-height: 379px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 30px auto 57px 30px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 0 0 181px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: -50px 778px 0 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0 0 0 181px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: -50px 778px 0 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin: 0 0 0 181px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: -50px 778px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
    height: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 116px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 116px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 115px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 115px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 115px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }
}