.u-section-1 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 1041px;
  margin: 40px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 396px;
  background-image: url("images/WhatsAppImage2021-06-22at15.01.00.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 18px -60px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  margin: 31px -60px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 30px 5px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  margin: 18px 31px 0 26px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/heic1511a.jpg");
  background-position: 50% 50%;
  min-height: 374px;
  background-size: 125%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 247px 226px -30px -21px;
}

.u-section-1 .u-image-3 {
  min-height: 349px;
  background-image: url("images/IMG_20190614_122342085.jpg");
  background-position: 60.34% 31.41%;
  background-size: 105%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 70px;
    min-height: 525px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 308px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 176px;
    margin-left: -17px;
  }

  .u-section-1 .u-image-3 {
    min-height: 288px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 236px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 121px;
    margin-left: -12px;
  }

  .u-section-1 .u-image-3 {
    min-height: 221px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 283px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -22px;
  }

  .u-section-1 .u-image-3 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-1 .u-image-2 {
    min-height: 223px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: -14px;
  }

  .u-section-1 .u-image-3 {
    min-height: 209px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 381px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 8px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px -60px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  white-space: nowrap;
  margin: 20px auto 0 71px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  width: 178px;
  height: 185px;
  margin: 58px auto 0 -28px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 156px;
  margin: -170px 39px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    height: 84px;
  }

  .u-section-2 .u-text-3 {
    height: 32px;
    margin-top: 31px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -25px;
    margin-right: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-2 .u-image-1 {
    height: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 59px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 3px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 237px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 215px;
  }
}