.u-section-1 .u-sheet-1 {
  min-height: 190px;
}

.u-section-1 .u-group-1 {
  width: 1120px;
  min-height: 137px;
  height: auto;
  margin: 27px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  margin: 25px auto 0 324px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: -52px 344px 0 434px;
}

.u-section-1 .u-line-1 {
  width: 689px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 344px;
    margin-right: 254px;
    width: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 234px;
    margin-right: 144px;
  }

  .u-section-1 .u-line-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 164px;
    margin-right: 74px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 734px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1155px;
  margin: 0 -15px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 820px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 430px;
  height: 258px;
  margin: 0 auto 0 -30px;
}

.u-section-2 .u-image-2 {
  width: 413px;
  height: 311px;
  margin: -11px -30px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 135px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 626px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 96px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 225px;
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 509px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1333px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1000px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 630px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 584px;
  width: 390px;
  margin: 5px auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 603px;
  }

  .u-section-3 .u-image-1 {
    height: 469px;
    width: 313px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-3 .u-image-1 {
    height: 360px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1040px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 655px;
  }
}